body {
    min-width: 350px;
    padding: 1em 2em;
    border: 5px solid #0d6efd;
}

#settings-icon {
    text-align: right;
    margin-right: -20px;
    margin-bottom: -10px;
    i {
        cursor: pointer;
    }
}